footer(class="footer")
    div(class="container footer__container")
        div(class="footer__logo-wrap")
            a(class="logo")
                img(src="./images/logo/logo.svg" class="logo__img" alt="Логотип")
        a(href="tel:+74951810091" class="footer__telephone") + 7 495 181-00-91
        div(class="footer__cards")
            div(class="footer__cards-heading") Способы оплаты
            ul(class="footer__cards-list")
                li(class="footer__cards-item")
                    img(class="footer__cards-img" src="./images/cards/visa.svg" alt="Visa")
                li(class="footer__cards-item")
                    img(class="footer__cards-img" src="./images/cards/mastercard.svg" alt="Mastercard")
                li(class="footer__cards-item")
                    img(class="footer__cards-img" src="./images/cards/yandex.svg" alt="Yandex")
                li(class="footer__cards-item")
                    img(class="footer__cards-img" src="./images/cards/qiwi.svg" alt="Qiwi")
        div(class="footer__socials")
            div(class="footer__socials-heading") Нас уже больше 16 000. Присоединяйся!
            ul(class="footer__socials-list")
                li(class="footer__socials-item")
                    img(class="footer__socials-icon" src="./images/socials/telegram.svg" alt="Telegram")
                li(class="footer__socials-item")
                    img(class="footer__socials-icon" src="./images/socials/youtube.svg" alt="Youtube")
                li(class="footer__socials-item")
                    img(class="footer__socials-icon" src="./images/socials/vk.svg" alt="vk")
        div(class="footer__copyright")
            a(href="" class="footer__copyright-link") Образовательная лицензия №037777
            a(href="" class="footer__copyright-link") Договор-оферта
            a(href="" class="footer__copyright-link") Политика конфиденциальности