header(class="header")
    div(class="container header__container")
        div(class="header__up")
            nav(class="nav")
                ul(class="nav__list")
                    li(class="nav__item")
                        a(href="" class="nav__item-link") О школе
                    li(class="nav__item")
                        a(href="" class="nav__item-link") Курсы
                    li(class="nav__item")
                        a(href="" class="nav__item-link") Вакансии
                    li(class="nav__item")
                        a(href="./teachers.html" class="nav__item-link") Преподаватели
                    li(class="nav__item")
                        a(href="" class="nav__item-link") Отзывы
                    li(class="nav__item")
                        a(href="" class="nav__item-link") Цены
                    li(class="nav__item")
                        a(href="" class="nav__item-link") Онлайн курс
                    li(class="nav__item")
                        a(href="" class="nav__item-link") Магазин
        div(class="header__down")
            div(class="header__logo-wrap")
                a(href="./" class="logo")
                    img(src="./images/logo/logo.svg" class="logo__img" alt="Логотип")
            div(class="header__btn-wrap")
                a(href="" class="btn header__btn")
                    span(class="btn__text") БЕСПЛАТНЫЙ УРОК
                a(href="" class="btn header__btn")
                    span(class="btn__text") ОПЛАТИТЬ КУРС