div(class="modal")
    form(class="modal__form")
        div(class="modal__close-wrap")
            img(src="./images/other/close.svg" class="modal__close-icon" alt="Крестик")
        h1(class="modal__heading") ЗАПОЛНИТЕ ФОРМУ И МЫ ПОДБЕРЕМ ВАМ ЛУЧШЕЕ ВРЕМЯ ДЛЯ ЗАНЯТИЙ!
        div(class="modal__input-wrap")
            div(class="modal__input-icon-wrap")
                img(src="./images/other/name.svg" class="modal__input-icon" alt="Иконка профиля")
            input(class="modal__input" placeholder="Имя" type="text")
        div(class="modal__input-wrap")
            div(class="modal__input-icon-wrap")
                img(src="./images/other/phone.svg" class="modal__input-icon" alt="Телефон")
            input(class="modal__input" placeholder="Телефон" type="text")
        button(class="btn modal__form-submit" type="submit")
            span(class="btn__text") ЗАПИСАТЬСЯ НА БЕСПЛАТНЫЙ УРОК
        div(class="modal__copyright-wrap")
            input(class="modal__copyright" id="copyright-input" type="checkbox")
            label(class="modal__copyright-label" for="copyright-input") Я согласен с политикой обработки
                a(href="" class="modal__copyright-link") персональных данных
