div(class="modal")
    form(class="modal__form")
        h1(class="modal__heading") ЗАПОЛНИТЕ ФОРМУ И МЫ ПОДБЕРЕМ ВАМ ЛУЧШЕЕ ВРЕМЯ ДЛЯ ЗАНЯТИЙ!
        div(class="modal__input-wrap")
            input(class="modal__input" placeholder="Введите имя" type="text")
        div(class="modal__input-wrap")
            input(class="modal__input" placeholder="Введите телефон*" type="text")
        button(class="btn modal__form-submit" type="submit")
            span(class="btn__text") ЗАПИСАТЬСЯ НА БЕСПЛАТНЫЙ УРОК
        div(class="modal__copyright-wrap")
            input(class="modal__copyright" id="copyright-input" type="checkbox")
            label(class="modal__copyright-label" for="copyright-input") Я согласен с политикой обработки
                a(href="" class="modal__copyright-link") персональных данных
