/* Fonts:
  ========================================================================== */
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat-black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat-bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat-extrabold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat-light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat-medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat-regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat-semibold.ttf");
  font-weight: 600;
  font-style: normal;
}




