/* Welcome section:
  ========================================================================== */
.welcome {
  background-image: url(./images/backgrounds/welcome-back.jpg);
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  padding-bottom: rem(144px);
  @include tables {
    padding-bottom: rem(302px);
    background-image: url(./images/backgrounds/welcome-back_adaptive.jpg);
  }
  @include phones {
    margin-bottom: 3rem;
  }

  &__container {
    align-items: center;
    margin-top: rem(98px);
    @include tables {
      margin-top: rem(116px);
    }
    @include phones {
      margin-top: 1rem;
    }
  }

  &__heading {
    max-width: rem(1182px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: rem(50px);
    line-height: 130%;
    text-align: center;
    background: linear-gradient(89.62deg, #EC2D70 -13.84%, #651FF9 39.95%, #6942B9 87.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: rem(39px);
    @include tables {
      font-size: rem(35px);
      margin-bottom: rem(52px);
    }
    @include phones {
      line-height: 150%;
      font-size: rem(20px);
      margin-bottom: 1.25rem;
    }

    &-style {
      -webkit-text-fill-color: white;
    }
  }

  &__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: rem(35px);
    line-height: rem(44px);
    text-align: center;
    color: #FFFFFF;
    padding: 1rem 2rem;
    max-width: rem(790px);
    background: url("./images/other/welcome-title-back.svg");
    background-repeat: no-repeat no-repeat;
    background-size: 100% 100%;
    margin-bottom: 3rem;
    @include tables {
      font-size: rem(24.5886px);
      background-image: url("./images/other/welcome-title-back_adaptive.svg");
    }
    @include phones {
      background-image: url("./images/other/welcome-title-back_phones-adaptive.svg");
      font-size: rem(14.8441px);
      line-height: 150%;
    }
  }
}

.features {
  width: rem(1165px);
  position: relative;
  @include tables {
    width: 100%;
  }

  &__line {
    width: 85%;
    position: absolute;
    height: rem(1px);
    background: white;
    transform: translateX(-50%);
    left: 50%;
    top: 26%;
    @include tables {
      display: none;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    @include tables {
      flex-wrap: wrap;
      justify-content: center;
      margin-right: -2rem;
    }
    @include phones {
      flex-direction: column;
      align-items: center;
      margin-right: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    @include tables {
      max-width: rem(236px);
      flex: 1 1 auto;
      margin-bottom: 2rem;
      margin-right: 2rem;
    }
    @include phones {
      margin-right: 0;
      margin-bottom: 1.25rem;
    }

    &-title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: rem(25px);
      line-height: rem(30px);
      text-align: center;
      color: #FFFFFF;
      @include phones {
        font-size: rem(13px);
        line-height: rem(16px);
      }
    }
  }

  &__smile {
    @include phones {
      height: 100%;
    }

    &-wrap {
      height: rem(175px);
      display: flex;
      align-items: center;
      z-index: 10;
      @include phones {
        height: 6rem;
      }
    }
  }
}

/* Trial lesson section:
  ========================================================================== */
.trial-lessons {
  background: linear-gradient(180deg, #0D0D0D 0%, #1A101B 100%);
  padding: rem(40px) 0 rem(186px) 0;
  @include tables {
    padding: rem(60px) 0 rem(176px) 0;
  }
  @include phones {
    padding: rem(56px) 0 rem(98px);
  }

  &__container {
    align-items: center;
  }

  &__heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: rem(40px);
    line-height: rem(49px);
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: rem(26px);
    display: flex;
    flex-direction: column;
    @include tables {
      font-size: rem(30px);
      line-height: rem(37px);
      margin-bottom: rem(34px);
    }
    @include phones {
      font-size: rem(20px);
      line-height: 150%;
      margin-bottom: 0.5rem;
    }

    &-style {
      background: linear-gradient(89.62deg, #EC2D70 -13.84%, #651FF9 39.95%, #6942B9 87.61%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  &__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: rem(25px);
    line-height: rem(30px);
    text-align: center;
    color: #FFFFFF;
    max-width: 76rem;
    margin-bottom: rem(67px);
    @include tables {
      margin-bottom: rem(56px);
      font-size: rem(23px);
      line-height: rem(28px);
    }
    @include phones {
      font-size: rem(14px);
      line-height: 150%;
      margin-bottom: rem(50px);
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include tables {
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-right: 1.5rem;
      @include tables {
        width: 100%;
        margin: 0 0 rem(120px);
      }
    }

    &:nth-child(1) {
      & .trial-lessons__btn {
        background: linear-gradient(136.53deg, rgba(0, 0, 0, 0) 19.29%, rgba(237, 31, 255, 0.7) 85.83%), linear-gradient(207.61deg, #0D071C 17.17%, #38ACFF 95.92%);
        box-shadow: rem(10px) rem(15px) rem(30px) rgba(164, 54, 216, 0.65);
      }
    }

    &:nth-child(2) {
      & .trial-lessons__btn {
        background: linear-gradient(135.81deg, rgba(0, 0, 0, 0) 25.43%, rgba(250, 100, 53, 0.7) 97.3%), linear-gradient(207.61deg, #000000 17.17%, #DE5CFF 95.92%);
        box-shadow: rem(10px) rem(15px) rem(30px) rgba(173, 71, 95, 0.65);
      }
    }

    &:nth-child(3) {
      & .trial-lessons__btn {
        background: linear-gradient(145.13deg, rgba(0, 0, 0, 0) 17.72%, rgba(209, 39, 38, 0.7) 79.8%), linear-gradient(241.99deg, #000000 37.34%, #F8941F 93.8%);
        box-shadow: rem(10px) rem(15px) rem(30px) rgba(147, 27, 26, 0.62);
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      @include tables {
      }
      align-items: center;
    }

    &-head {
      max-width: rem(372px);
      padding: 1.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: rem(0.868421px) solid #FFFFFF;
      box-sizing: border-box;
      border-radius: rem(13.0263px);
      margin-bottom: rem(28px);
      @include phones {
        max-width: rem(262px);
      }
    }

    &-title {
      max-width: rem(324px);
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 900;
      font-size: rem(24.916px);
      line-height: rem(30px);
      color: #FFFFFF;
      @include phones {
        font-size: rem(17.4667px);
        line-height: 150%;
      }
    }
  }

  &__sublist {
    margin-bottom: rem(42px);
    @include phones {
      margin-bottom: rem(26px);
    }
  }

  &__subitem {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: rem(26px);
    }

    &-text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: rem(20px);
      line-height: rem(24px);
      color: #FFFFFF;
      max-width: rem(324px);
      @include phones {
        font-size: rem(13px);
        line-height: 150%;
        margin-left: -2rem;
      }
    }
  }

  &__smile {
    &-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-right: 0.25rem;
      width: rem(130px);
      height: rem(116px);
      @include phones {
        margin-left: -3rem;
      }
    }
  }

  &__btn {
    max-width: rem(373px);
    padding: 1.25rem 2rem;
    border-radius: 40px;
    @include phones {
      width: rem(272px);
      padding: rem(10px) rem(24px);
    }

    & .btn__text {
      font-weight: 900;
      font-size: rem(17px);
      line-height: rem(21px);
      color: white;
      text-transform: none;
      @include phones {
        font-size: rem(13.6px);
        line-height: rem(17px);
      }
    }
  }
}

/* Indvidual lesson section:
  ========================================================================== */
.indvidual-lesson {
  background: #100E11;

  &__container {
    padding-top: rem(134px);
    padding-bottom: rem(260px);
    @include tables {
      padding-top: rem(171px);
      padding-bottom: rem(265px);
    }
    @include phones {
      padding-top: rem(126px);
      padding-bottom: 3rem;
    }
  }

  &__heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: rem(40px);
    line-height: rem(49px);
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 3rem;
    @include tables {
      font-size: rem(30px);
      line-height: rem(37px);
      margin-bottom: rem(26px);
    }
    @include phones {
      font-size: rem(20px);
      line-height: 150%;
      margin-bottom: rem(10px);
      text-align: center;
    }

    &-wrap {
      max-width: rem(965px);
      position: relative;
    }
  }

  &__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: rem(30px);
    line-height: rem(37px);
    color: #FFFFFF;
    margin-bottom: rem(54px);
    @include tables {
      font-size: rem(23px);
      line-height: rem(28px);
      margin-bottom: rem(46px);
    }
    @include phones {
      font-size: rem(14px);
      line-height: 150%;
      margin-bottom: rem(20px);
      text-align: center;
    }
  }

  &__smile {
    width: 100%;

    &-wrap {
      position: absolute;
      right: -35%;
      top: -211%;
      width: rem(402px);
      @include tables {
        width: rem(240px);
        right: 61%;
        top: -200%;
      }
      @include phones {
        right: 8%;
        top: -196%;
      }
    }
  }

  &__down {
    display: flex;
    align-items: center;
    @include tables {
      flex-direction: column;
      align-items: flex-start;
    }
    @include phones {
      flex-direction: column;
    }

    &-text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: rem(20px);
      line-height: rem(24px);
      color: #FFFFFF;
      max-width: rem(387px);
      @include tables {
        max-width: none;
      }
      @include phones {
        text-align: center;
        font-size: rem(12px);
        line-height: 150%;
      }
    }
  }

  &__btn {
    background: radial-gradient(53.39% 58.43% at 103.62% 50%, #46E5EB 0%, rgba(101, 31, 249, 0) 100%), radial-gradient(52.16% 52.64% at -1.89% 50%, #D95E19 0%, rgba(101, 31, 249, 0.25) 100%), radial-gradient(54.76% 52.5% at 50.23% 100%, #27FB95 9.9%, rgba(95, 34, 195, 0.25) 100%), radial-gradient(50% 50% at 50.23% 0%, #EC2D70 14.58%, rgba(75, 27, 169, 0.25) 100%), #48258F;
    box-shadow: 10px 15px 30px #554DD0;
    width: rem(514px);
    padding: rem(26px);
    margin-right: rem(53px);
    @include tables {
      margin-bottom: rem(37px);
    }
    @include phones {
      width: rem(300px);
      padding: rem(15px);
      margin-bottom: rem(26px);
      width: 100%;
    }

    & .btn__text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 800;
      font-size: rem(20.488px);
      line-height: rem(25px);
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      @include phones {
        font-size: rem(12px);
        line-height: rem(15px);
      }
    }
  }
}

/* Servises sections:
  ========================================================================== */
.service {
  position: relative;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;

  &_offline-courses {
    background-image: url(./images/backgrounds/service-back_1.jpg);

    & .service__container {
      padding-top: 5rem;
    }

    @include tables {
      background-image: url(./images/backgrounds/service-back_1_adaptive.jpg);
    }
  }

  &_inv-offline {
    background-image: url(./images/backgrounds/service-back_2.jpg);
    @include tables {
      background-image: url(./images/backgrounds/service-back_2_adaptive.jpg);
    }
  }

  &_inv-online {
    background-image: url(./images/backgrounds/service-back_3.jpg);
    @include tables {
      background-image: url(./images/backgrounds/service-back_3_adaptive.jpg);
    }
  }

  &_online-courses {
    background-image: url(./images/backgrounds/service-back_4.jpg);

    & .service__footer-text {
      max-width: 26rem;
    }

    @include tables {
      background-image: url(./images/backgrounds/service-back_4_adaptive.jpg);
    }
  }

  &__title {
    position: absolute;
    top: -5%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: rem(55px);
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: rem(0px) rem(10px) rem(30px) rgba(234, 64, 28, 0.63);
    @include tables {
      font-size: rem(35px);
      max-width: rem(562px);
      top: -4%;
    }
    @include phones {
      font-size: rem(20px);
      line-height: 130%;
      top: -1%;
      max-width: rem(280px);
    }
  }

  &__container {
    align-items: flex-start;
    padding: rem(150px) 0;
    @include tables {
      padding: rem(120px) 0;
    }
    @include phones {
      padding: rem(80px) 0;
    }
  }

  &__heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: rem(45px);
    line-height: rem(55px);
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: rem(921px);
    @include tables {
      font-size: rem(30px);
    }
    @include phones {
      font-size: rem(20px);
      line-height: rem(24px);
      order: 2;
      text-align: center;
    }

    &-wrap {
      display: flex;
      align-items: center;
      margin-bottom: rem(38px);
      position: relative;
      @include tables {
        flex-wrap: wrap;
        margin-bottom: 0;
        justify-content: flex-end;
      }
      @include phones {
        flex-direction: column;
        margin-bottom: 0.5rem;
        align-items: center;
        width: 100%;
      }
    }
  }

  &__smile {
    width: 100%;

    &-wrap {
      width: rem(269px);
      margin-left: rem(32px);
      @include tables {
        width: rem(196px);
        .service_inv-offline &, .service_inv-online & {
          margin-top: -3rem;
        }
      }
      @include phones {
        order: 1;
        margin-left: 0;
      }
    }
  }

  &__info {
    margin-bottom: (92px);
    @include tables {
      margin-bottom: rem(60px);
    }
    @include phones {
      margin-bottom: rem(30px);
    }

    &-heading {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 800;
      font-size: rem(25px);
      line-height: rem(30px);
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: rem(26px);
      @include tables {
        font-size: rem(20px);
        line-height: rem(24px);
      }
      @include phones {
        font-size: rem(16px);
        line-height: rem(20px);
        text-align: center;
        margin-bottom: rem(25px);
      }
    }

    &-list {
      margin-left: 1.5rem;
    }

    &-item {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: rem(25px);
      line-height: rem(25px);
      color: #FFFFFF;
      margin-bottom: 1.5rem;
      display: flex;
      @include tables {
        font-size: rem(20px);
        line-height: rem(24px);
      }
      @include phones {
        font-size: rem(13px);
        line-height: 150%;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    @include phones {
      flex-direction: column;
      align-items: center;
    }

    &-text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: rem(20px);
      line-height: rem(24px);
      color: #FFFFFF;
      max-width: 20rem;
      @include tables {
        font-size: rem(16px);
        line-height: rem(20px);
      }
      @include phones {
        font-size: rem(12px);
        line-height: rem(15px);
        text-align: center;
      }
    }

    &-btn {
      background: radial-gradient(53.39% 58.43% at 103.62% 50%, #46E5EB 0%, rgba(101, 31, 249, 0) 100%), radial-gradient(52.16% 52.64% at -1.89% 50%, #D95E19 0%, rgba(101, 31, 249, 0.25) 100%), radial-gradient(54.76% 52.5% at 50.23% 100%, #27FB95 9.9%, rgba(95, 34, 195, 0.25) 100%), radial-gradient(50% 50% at 50.23% 0%, #EC2D70 14.58%, rgba(75, 27, 169, 0.25) 100%), #48258F;
      box-shadow: rem(10px) rem(15px) rem(30px) #554DD0;
      width: rem(339px);
      padding: rem(26px) 0;
      margin-right: rem(53px);
      flex: 1 0 auto;
      @include tables {
        padding: rem(22px) 0;
        width: rem(307px);
        margin-right: rem(20px);
      }
      @include phones {
        width: 100%;
        padding: 1rem;
        margin: 0 0 1.5rem;
      }

      & .btn__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: rem(20.488px);
        line-height: rem(25px);
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        @include tables {
          font-size: rem(22.3273px);
          line-height: rem(27px);
        }
        @include phones {
          font-size: rem(17.0667px);
          line-height: rem(21px);
        }
      }
    }
  }


}

.courses {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  @include tables {
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    @include phones {
      padding: 1rem 0.5rem;
      width: 100%;
      margin-bottom: rem(28px);
    }

    &-wrap {
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include phones {
        align-items: center;
      }
    }

    &:not(:last-child) {
      margin-right: 4rem;
      @include tables {
        margin: 0 0 rem(37px);
      }
    }

    &:nth-child(1) {
      & .courses__item-back {
        background: linear-gradient(136.53deg, rgba(0, 0, 0, 0) 19.29%, rgba(237, 31, 255, 0.7) 85.83%), linear-gradient(207.61deg, #0D071C 17.17%, #38ACFF 95.92%);
      }

      & .courses__item-btn {
        background: linear-gradient(136.53deg, rgba(0, 0, 0, 0) 19.29%, rgba(237, 31, 255, 0.7) 85.83%), linear-gradient(207.61deg, #0D071C 17.17%, #38ACFF 95.92%);

        &:after {
          background: linear-gradient(136.53deg, rgba(0, 0, 0, 0) 19.29%, rgba(237, 31, 255, 0.7) 85.83%), linear-gradient(207.61deg, #0D071C 17.17%, #38ACFF 95.92%);
        }
      }
    }

    &:nth-child(2) {
      & .courses__item-back {
        background: linear-gradient(135.81deg, rgba(0, 0, 0, 0) 25.43%, rgba(250, 100, 53, 0.7) 97.3%), linear-gradient(207.61deg, #000000 17.17%, #DE5CFF 95.92%);
      }

      & .courses__item-btn {
        background: linear-gradient(135.81deg, rgba(0, 0, 0, 0) 25.43%, rgba(250, 100, 53, 0.7) 97.3%), linear-gradient(207.61deg, #000000 17.17%, #DE5CFF 95.92%);

        &:after {
          background: linear-gradient(135.81deg, rgba(0, 0, 0, 0) 25.43%, rgba(250, 100, 53, 0.7) 97.3%), linear-gradient(207.61deg, #000000 17.17%, #DE5CFF 95.92%);
        }
      }
    }

    &:nth-child(3) {
      & .courses__item-back {
        background: linear-gradient(145.13deg, rgba(0, 0, 0, 0) 17.72%, rgba(209, 39, 38, 0.7) 79.8%), linear-gradient(241.99deg, #000000 37.34%, #F8941F 93.8%);
      }

      & .courses__item-btn {
        background: linear-gradient(145.13deg, rgba(0, 0, 0, 0) 17.72%, rgba(209, 39, 38, 0.7) 79.8%), linear-gradient(241.99deg, #000000 37.34%, #F8941F 93.8%);

        &:after {
          background: linear-gradient(145.13deg, rgba(0, 0, 0, 0) 17.72%, rgba(209, 39, 38, 0.7) 79.8%), linear-gradient(241.99deg, #000000 37.34%, #F8941F 93.8%);
        }
      }
    }

    &-back {
      border-radius: rem(25px);
      opacity: 0.8;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 1;
    }

    &-heading {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 900;
      font-size: rem(25px);
      line-height: rem(30px);
      color: #FFFFFF;
      margin-bottom: 0.25rem;
      text-align: left;
      width: 100%;
      z-index: 2;
      white-space: nowrap;
      @include tables {
        font-size: rem(23px);
        line-height: rem(28px);
      }
      @include phones {
        font-size: rem(16.08px);
        line-height: rem(20px);
        margin-bottom: 0.5rem;
        text-align: center;
      }
    }

    &-title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: rem(20px);
      line-height: rem(24px);
      color: #FFFFFF;
      margin-bottom: 1.125rem;
      text-align: left;
      width: 100%;
      z-index: 2;
      white-space: nowrap;
      @include tables {
        font-size: rem(18px);
        line-height: rem(22px);
      }
      @include phones {
        font-size: rem(12.864px);
        line-height: rem(16px);
        text-align: center;
        margin-bottom: 0.5rem;
      }
    }

    &-text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: rem(20px);
      line-height: rem(24px);
      color: #FFFFFF;
      text-align: left;
      width: 100%;
      z-index: 2;
      margin-bottom: 2rem;
      max-width: rem(331px);
      @include tables {
        font-size: rem(18px);
        line-height: rem(22px);
      }
      @include phones {
        max-width: none;
        font-size: rem(12.864px);
        line-height: 150%;
        margin-bottom: rem(30px);
      }
    }

    &-btn {
      width: rem(264px);
      padding: rem(14px);
      border-radius: 30px;
      z-index: 2;
      position: relative;
      @include phones {
        width: 100%;
        padding: rem(10px) 0;
      }

      &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.5;
        border-radius: rem(30px);
        right: -3%;
        bottom: -10%;
        z-index: -1;
      }

      & .btn__text {
        font-weight: 800;
        font-size: rem(20px);
        line-height: rem(24px);
        color: #FFFFFF;
        @include phones {
          font-size: rem(16.08px);
          line-height: rem(20px);
        }
      }
    }
  }

  &__logo {
    @include phones {
      width: 100%;
    }

    &-wrap {
      position: absolute;
      z-index: 2;
      left: -21%;
      bottom: -5%;
      @include phones {
        width: 4.5rem;
        left: -8%;
        bottom: -21%;
      }
    }
  }
}

/* Slider section:
  ========================================================================== */
.slider {
  padding: rem(225px) 0 rem(55px);
  background: url("./images/backgrounds/slider-back.jpg");
  background-size: cover;
  background-position: center center;
  @include tables {
    padding: rem(105px) 0 rem(96px);
  }
  @include phones {
    padding: rem(54px) 0 1rem;
  }

  &__container {
    align-items: center;
  }

  &__heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: rem(40px);
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px rem(10px) rem(30px) #ED1FFF;
    margin-bottom: rem(74px);
    @include tables {
      font-size: rem(30px);
      margin-bottom: rem(38px);
    }
    @include phones {
      font-size: rem(20px);
      line-height: 130%;
      margin-bottom: 2rem;
    }
  }

  &__wrap {
    position: relative;
    max-width: rem(961px);
    height: rem(406px);
    width: 100%;
    @include tables {
      max-width: rem(414px);
    }
    @include phones {
      height: rem(212px);
    }
  }

  &__list {
    background: rgba(196, 196, 196, 0.32);
    border-radius: 68px;
    width: 100%;
    height: 100%;
    display: flex;
    @include phones {
      border-radius: rem(20px);
    }
  }

  &__item {
    width: 100%;
    height: 100%;
  }

  &__btn {
    background: radial-gradient(53.39% 58.43% at 103.62% 50%, #46E5EB 0%, rgba(101, 31, 249, 0) 100%), radial-gradient(52.16% 52.64% at -1.89% 50%, #D95E19 0%, rgba(101, 31, 249, 0.25) 100%), radial-gradient(54.76% 52.5% at 50.23% 100%, #27FB95 9.9%, rgba(95, 34, 195, 0.25) 100%), radial-gradient(50% 50% at 50.23% 0%, #EC2D70 14.58%, rgba(75, 27, 169, 0.25) 100%), #48258F;
    width: rem(43px);
    height: rem(43px);
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    @include phones {
      display: none;
    }

    &-icon {
      fill: none;
      stroke: white;
    }

    &-back {
      left: -5rem;
    }

    &-next {
      right: -5rem;
    }
  }
}

/* Subscribe section:
  ========================================================================== */
.subscribe {
  padding: rem(142px) 0 rem(272px);
  background-image: url("./images/backgrounds/subscribe-back.jpg");
  background-size: cover;
  background-position: center center;
  @include tables {
    padding: rem(116px) 0 rem(268px);
    background-image: url("./images/backgrounds/subscribe-back_adaptive.jpg");
  }
  @include phones {
    padding: 1rem 0 rem(92px);
  }

  &__heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: rem(35px);
    line-height: rem(43px);
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 10px 15px 30px #882C98;
    margin-bottom: 2rem;
    @include tables {
      font-size: rem(25px);
      line-height: rem(30px);
      margin-bottom: rem(47px);
    }
    @include phones{
      font-size: rem(14px);
      line-height: 150%;
      margin-bottom: rem(13px);
    }
  }

  &__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: rem(30px);
    line-height: rem(37px);
    color: #FFFFFF;
    margin-bottom: rem(37px);
    @include tables {
      margin-bottom: rem(55px);
      font-size: rem(23px);
      line-height: rem(28px);
    }
    @include phones{
      font-size: rem(14px);
      line-height: 150%;
      margin-bottom: rem(13px);
    }
  }

  &__btn {
    width: rem(373px);
    padding: rem(27px);
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    @include tables {
      width: rem(292px);
      padding: rem(20) 0;
    }
    @include phones{
      padding: 1rem;
      width: 100%;
    }

    & .btn__text {
      font-weight: 900;
      font-size: rem(25px);
      line-height: rem(30px);
      text-align: center;
      color: #FFFFFF;
      @include tables {
        font-size: rem(19.5809px);
        line-height: rem(24px);
      }
      @include phones{
        font-size: rem(15.8848px);
        line-height: rem(19px);
      }
    }

    &-list {
      display: flex;
      justify-content: space-between;
      @include tables {
        flex-direction: column;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      &:not(:last-child) {
        margin-right: 1.5rem;
        @include tables {
          margin: 0 0 2.25rem;
        }
        @include phones{
          margin-bottom: 1.25rem;
        }
      }

      &:nth-child(1) {
        & .subscribe__btn {
          background: linear-gradient(136.53deg, rgba(0, 0, 0, 0) 19.29%, rgba(237, 31, 255, 0.7) 85.83%), linear-gradient(207.61deg, #0D071C 17.17%, #38ACFF 95.92%);
          box-shadow: rem(10px) rem(15px) rem(30px) rgba(164, 54, 216, 0.65);
        }
      }

      &:nth-child(2) {
        & .subscribe__btn {
          background: linear-gradient(135.81deg, rgba(0, 0, 0, 0) 25.43%, rgba(250, 100, 53, 0.7) 97.3%), linear-gradient(207.61deg, #000000 17.17%, #DE5CFF 95.92%);
          box-shadow: rem(10px) rem(15px) rem(30px) rgba(173, 71, 95, 0.65);
        }
      }

      &:nth-child(3) {
        & .subscribe__btn {
          background: linear-gradient(145.13deg, rgba(0, 0, 0, 0) 17.72%, rgba(209, 39, 38, 0.7) 79.8%), linear-gradient(241.99deg, #000000 37.34%, #F8941F 93.8%);
          box-shadow: rem(10px) rem(15px) rem(30px) rgba(147, 27, 26, 0.62);
        }
      }
    }
  }
}