.footer{
  padding: rem(92px) 0 rem(104px);
  background: #160F17;
  &__container{
    align-items: center;
    justify-content: center;
  }
  &__logo-wrap{
    width: rem(173px);
    height: rem(72px);
  }
  &__telephone{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: rem(19px);
    line-height: rem(23px);
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0.75rem;
  }
  &__cards{
    margin-bottom: rem(26px);
    &-heading{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: rem(25px);
      line-height: rem(30px);
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 0.75rem;
    }
    &-list{
      display: flex;
    }
  }
  &__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(26px);
    &-heading{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: rem(20px);
      line-height: rem(24px);
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 1rem;
    }
    &-list{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-item{
      margin-right: 1rem;
      width: rem(51px);
      height: rem(51px);
    }
  }
  &__copyright{
    display: flex;
    flex-wrap: wrap;
    max-width: 35rem;
    justify-content: center;
    align-items: center;
    &-link{
      text-decoration: underline;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: rem(17px);
      line-height: rem(21px);
      color: #FFFFFF;
      margin: 0 0.75rem 0.75rem 0;
    }
  }
}
