doctype html
html(lang="en")
    head
        title О школе
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(href="./main.css" type="text/css" rel="stylesheet")
    body
        div(class="wrapper")
            section(class="welcome")
                include ./blocks/header
                div(class="container welcome__container")
                    div(class="welcome__heading")
                        span(class="welcome__heading-style") НАУЧИСЬ ПЕТЬ И ИГРАТЬ ЛЮБИМЫЕ ПЕСНИ И МЕЛОДИИ
                        span() В САМОЙ БОЛЬШОЙ МУЗЫКАЛЬНОЙ ШКОЛЕ МОСКВЫ
                    div(class="welcome__title") Уроки вокала, гитары и фортепиано оффлайн в центре Москвы и онлайн
                    div(class="features")
                        div(class="features__line")
                        ul(class="features__list")
                            li(class="features__item")
                                div(class="features__smile-wrap")
                                    img(src="./images/smiles/smile_1.svg" class="features__smile" alt="Смайлик")
                                div(class="features__item-title") Занятия с 6+ лет
                            li(class="features__item")
                                div(class="features__smile-wrap")
                                    img(src="./images/smiles/smile_2.svg" class="features__smile" alt="Смайлик")
                                div(class="features__item-title") Обучение в мини-группах по 3-4 человека и индивидуально
                            li(class="features__item")
                                div(class="features__smile-wrap")
                                    img(src="./images/smiles/smile_3.svg" class="features__smile" alt="Смайлик")
                                div(class="features__item-title") 13.000+ выпускников за 8 лет
                            li(class="features__item")
                                div(class="features__smile-wrap")
                                    img(src="./images/smiles/smile_4.svg" class="features__smile" alt="Смайлик")
                                div(class="features__item-title") 5-10 мин пешком от м. Чистые пруды/м.Сухаревская/м. Цветной бульвар
                            li(class="features__item")
                                div(class="features__smile-wrap")
                                    img(src="./images/smiles/smile_5.svg" class="features__smile" alt="Смайлик")
                                div(class="features__item-title") Есть курсы и занятия onlinе
            section(class="trial-lessons")
                div(class="container trial-lessons__container")
                    h2(class="trial-lessons__heading")
                        span() Выбирай свое направление и записывайся
                        span(class="trial-lessons__heading-style") на бесплатный пробный урок музыки
                    div(class="trial-lessons__title") Мы конечно все подробно расскажем на этом сайте, но лучше приходи и посмотри на все своими глазами) С нас чай, сладости, музыка и хорошее настроение)
                    ul(class="trial-lessons__list")
                        li(class="trial-lessons__item")
                            div(class="trial-lessons__item-wrap")
                                div(class="trial-lessons__item-head")
                                    h3(class="trial-lessons__item-title") На бесплатном уроке ВОКАЛА ты:
                                ul(class="trial-lessons__sublist")
                                    li(class="trial-lessons__subitem")
                                        div(class="trial-lessons__smile-wrap")
                                            img(src="./images/smiles/smile_6.svg" class="trial-lessons__smile" alt="Смайлик")
                                        div(class="trial-lessons__subitem-text") получишь ИНДИВИДУАЛЬНЫЕ рекомендации по развитию вашего голоса
                                    li(class="trial-lessons__subitem")
                                        div(class="trial-lessons__smile-wrap")
                                            img(src="./images/smiles/smile_7.svg" class="trial-lessons__smile" alt="Смайлик")
                                        div(class="trial-lessons__subitem-text") сделаешь упражнения, которые улучшат голос при пении и в повседневной жизни
                                    li(class="trial-lessons__subitem")
                                        div(class="trial-lessons__smile-wrap")
                                            img(src="./images/smiles/smile_8.svg" class="trial-lessons__smile" alt="Смайлик")
                                        div(class="trial-lessons__subitem-text") узнаешь, как работает голосовой аппарат и споёшь песню
                            button(class="btn trial-lessons__btn")
                                div(class="btn__text") Записаться на бесплатный урок вокала
                        li(class="trial-lessons__item")
                            div(class="trial-lessons__item-wrap")
                                div(class="trial-lessons__item-head")
                                    h3(class="trial-lessons__item-title") На бесплатном уроке ФОРТЕПИАНО ты:
                                ul(class="trial-lessons__sublist")
                                    li(class="trial-lessons__subitem")
                                        div(class="trial-lessons__smile-wrap")
                                            img(src="./images/smiles/smile_9.svg" class="trial-lessons__smile" alt="Смайлик")
                                        div(class="trial-lessons__subitem-text") самостоятельно двумя руками сыграешь известную песню, даже если не знаешь нот
                                    li(class="trial-lessons__subitem")
                                        div(class="trial-lessons__smile-wrap")
                                            img(src="./images/smiles/smile_10.svg" class="trial-lessons__smile" alt="Смайлик")
                                        div(class="trial-lessons__subitem-text") узнаешь, как быстро научиться играть любимые песни и мелодии на фортепиано
                            button(class="btn trial-lessons__btn")
                                div(class="btn__text") Записаться на бесплатный урок фортепиано
                        li(class="trial-lessons__item")
                            div(class="trial-lessons__item-wrap")
                                div(class="trial-lessons__item-head")
                                    h3(class="trial-lessons__item-title") На бесплатном уроке ГИТАРЫ ты:
                                ul(class="trial-lessons__sublist")
                                    li(class="trial-lessons__subitem")
                                        div(class="trial-lessons__smile-wrap")
                                            img(src="./images/smiles/smile_11.svg" class="trial-lessons__smile" alt="Смайлик")
                                        div(class="trial-lessons__subitem-text") Изучишь 4 базовых аккорда, на которых построено большое количество песен
                                    li(class="trial-lessons__subitem")
                                        div(class="trial-lessons__smile-wrap")
                                            img(src="./images/smiles/smile_12.svg" class="trial-lessons__smile" alt="Смайлик")
                                        div(class="trial-lessons__subitem-text") Освоишь гитарный бой
                                    li(class="trial-lessons__subitem")
                                        div(class="trial-lessons__smile-wrap")
                                            img(src="./images/smiles/smile_13.svg" class="trial-lessons__smile" alt="Смайлик")
                                        div(class="trial-lessons__subitem-text") Обязательно сыграешь свою первую песню на гитаре, еще и в ансамбле
                            button(class="btn trial-lessons__btn")
                                div(class="btn__text") Записаться на бесплатный урок гитары
            section(class="indvidual-lesson")
                div(class="container indvidual-lesson__container")
                    div(class="indvidual-lesson__heading-wrap")
                        h2(class="indvidual-lesson__heading") У тебя уже был опыт занятий и ты хочешь развивать свои навыки?
                        div(class="indvidual-lesson__smile-wrap")
                            img(src="./images/smiles/smile_14.svg" class="indvidual-lesson__smile" alt="Смайлик")
                    div(class="indvidual-lesson__title") Наши ТОП-преподаватели ждут тебя на индивидуальном пробном занятии
                    div(class="indvidual-lesson__down")
                        button(class="btn indvidual-lesson__btn")
                            div(class="btn__text") ЗАПИСАТЬСЯ НА ИНДИВИДУАЛЬНЫЙ ПРОБНЫЙ УРОК
                        div(class="indvidual-lesson__down-text") Мы позвоним или напишем тебе, чтобы подобрать подходящего преподавателя под твои цели!)
            section(class="service service_offline-courses")
                h1(class="service__title") ПРОГРАММЫ ОБУЧЕНИЯ В НАШЕЙ ШКОЛЕ:
                div(class="container service__container")
                    div(class="service__heading-wrap")
                        div(class="service__heading") Оффлайн-курсы
                        div(class="service__smile-wrap")
                            img(src="./images/smiles/smile-group_1.svg" class="service__smile" alt="Смайлик")
                    div(class="service__info")
                        h3(class="service__info-heading") Подойдут тебе, если:
                        ul(class="service__info-list")
                            li(class="service__info-item") Ты хочешь заниматься с нуля
                            li(class="service__info-item") У тебя был небольшой опыт занятий самостоятельно или с преподавателем
                            li(class="service__info-item") Тебе важно учиться вживую
                            li(class="service__info-item") Ты хочешь найти новые знакомства и проводить время в кругу единомышленников
                            li(class="service__info-item") Ты планируешь заниматься регулярно
                            li(class="service__info-item") Ты в Москве и тебе комфортно добираться до школы
                            li(class="service__info-item") Ты хочешь выбрать самый эффективный путь обучения музыке
                    ul(class="courses")
                        li(class="courses__item")
                            div(class="courses__item-back")
                            div(class="courses__item-wrap")
                                h3(class="courses__item-heading") КУРС ПО ВОКАЛУ
                                span(class="courses__item-title") Научись красиво петь
                                div(class="courses__item-text") Фундаментальный курс по вокалу для начинающих — от основ дыхания до расширения диапазона и сценического воплощения
                            button(class="btn courses__item-btn")
                                div(class="btn__text") ПОДРОБНЕЕ
                            div(class="courses__logo-wrap")
                                img(src="./images/logo/logo_1.svg" class="courses__logo" alt="Логотип")
                        li(class="courses__item")
                            div(class="courses__item-back")
                            div(class="courses__item-wrap")
                                h3(class="courses__item-heading") КУРС ПО ФОРТЕПИАНО
                                span(class="courses__item-title") Научить играть на фортепиано
                                div(class="courses__item-text") Освой 24 мелодии по программе и 24 любых мелодии (или песни) по твоему выбору в рамках курса!
                            button(class="btn courses__item-btn")
                                div(class="btn__text") ПОДРОБНЕЕ
                            div(class="courses__logo-wrap")
                                img(src="./images/logo/logo_2.svg" class="courses__logo" alt="Логотип")
                        li(class="courses__item")
                            div(class="courses__item-back")
                            div(class="courses__item-wrap")
                                h3(class="courses__item-heading") КУРС ПО ГИТАРЕ
                                span(class="courses__item-title") Научись играть на гитаре
                                div(class="courses__item-text") Легендарный курс по акустической гитаре по методике основателя школы, Александра Казакова
                            button(class="btn courses__item-btn")
                                div(class="btn__text") ПОДРОБНЕЕ
                            div(class="courses__logo-wrap")
                                img(src="./images/logo/logo_3.svg" class="courses__logo" alt="Логотип")
            section(class="service service_inv-offline")
                div(class="container service__container")
                    div(class="service__heading-wrap")
                        div(class="service__heading") Индивидуальные занятия 1 на 1 с преподавателем В ШКОЛЕ ОФФЛАЙН
                        div(class="service__smile-wrap")
                            img(src="./images/smiles/smile-group_2.svg" class="service__smile" alt="Смайлик")
                    div(class="service__info")
                        h3(class="service__info-heading") Подойдут тебе, если:
                        ul(class="service__info-list")
                            li(class="service__info-item") Ты уже имеешь большой опыт в музыке и хочешь развивать свои навыки с опытным наставником
                            li(class="service__info-item") Твой запрос на обучение точечный и индивидуальный — ты хочешь подготовить номер на мероприятие, выучить конкретную композицию
                            li(class="service__info-item") Тебя интересуют особенные музыкальные дисциплины: сонграйтинг, сольфеджио, импровизация
                            li(class="service__info-item") Ты хочешь посещать занятия часто (более 2 раз в неделю) или наоборот не планируешь регулярно заниматься
                            li(class="service__info-item") Тебе важно заниматься именно вживую
                            li(class="service__info-item") Ты ищешь занятия для ребёнка от 6 до 12 (гитара/фортепиано) и от 6 до 16 лет (вокал)
                    div(class="service__footer")
                        button(class="btn service__footer-btn")
                            div(class="btn__text") ПОДРОБНЕЕ
                        a(href="" class="service__footer-text") Узнать подробности и выбрать преподавателя
            section(class="service service_inv-online")
                div(class="container service__container")
                    div(class="service__heading-wrap")
                        div(class="service__heading") Индивидуальные занятия 1 на 1 с преподавателем ОНЛАЙН
                        div(class="service__smile-wrap")
                            img(src="./images/smiles/smile-group_3.svg" class="service__smile" alt="Смайлик")
                    div(class="service__info")
                        h3(class="service__info-heading") Подойдут тебе, если:
                        ul(class="service__info-list")
                            li(class="service__info-item") Ты не можешь или тебе неудобно приезжать в школу в Москве
                            li(class="service__info-item") Тебе важно заниматься с преподавателем 1 на 1 в режиме реального времени
                            li(class="service__info-item") Ты уже имеешь большой опыт в музыке и хочешь развивать свои навыки с опытным наставником
                            li(class="service__info-item") Твой запрос на обучение точечный и индивидуальный — ты хочешь подготовить номер на мероприятие, выучить конкретную композицию
                            li(class="service__info-item") Тебя интересуют особенные музыкальные дисциплины: сонграйтинг, сольфеджио, импровизация ы
                            li(class="service__info-item") Ты хочешь посещать занятия часто (более 2 раз в неделю) или наоборот не планируешь регулярно заниматься
                            li(class="service__info-item") Ты ищешь занятия для ребёнка от 6 до 12 (гитара/фортепиано) и от 6 до 16 лет (вокал)
                    div(class="service__footer")
                        button(class="btn service__footer-btn")
                            div(class="btn__text") ПОДРОБНЕЕ
                        a(href="" class="service__footer-text") Узнать подробности и выбрать преподавателя
            section(class="service service_online-courses")
                div(class="container service__container")
                    div(class="service__heading-wrap")
                        div(class="service__heading") ОНлайн-курсы
                        div(class="service__smile-wrap")
                            img(src="./images/smiles/smile-group_4.svg" class="service__smile" alt="Смайлик")
                    div(class="service__info")
                        h3(class="service__info-heading") Подойдут тебе, если:
                        ul(class="service__info-list")
                            li(class="service__info-item") Ты хочешь заниматься тогда, когда тебе удобно, когда пришло вдохновение
                            li(class="service__info-item") Ты хочешь заниматься любой комфортный промежуток времени — от 10 минут до бесконечности
                            li(class="service__info-item") Тебе важна обратная связь преподавателя, но ты не хочешь, чтобы кто-то стоял над душой
                            li(class="service__info-item") Ты не можешь или тебе неудобно приезжать в школу в Москве
                            li(class="service__info-item") Ты хочешь получить быстрые результаты
                            li(class="service__info-item") Ты хочешь получить максимум знаний за минимальную сумму
                    div(class="service__footer")
                        button(class="btn service__footer-btn")
                            div(class="btn__text") ВЫБРАТЬ КУРС
                        a(href="" class="service__footer-text") Перейти в онлайн-школу, посмотреть бесплатные уроки и выбрать курс
            section(class="slider")
                div(class="container slider__container")
                    h2(class="slider__heading") Отзывы и результаты учеников
                    div(class="slider__wrap")
                        button(class="slider__btn slider__btn-back")
                            svg(class="slider__btn-icon" width="18" height="21" viewBox="0 0 18 21")
                                use(xlink:href="./images/sprites.svg#slider-btn_back")
                        ul(class="slider__list")
                            li(class="slider__item")
                        button(class="slider__btn slider__btn-next")
                            svg(class="slider__btn-icon" width="18" height="21" viewBox="0 0 18 21")
                                use(xlink:href="./images/sprites.svg#slider-btn_next")
            section(class="subscribe")
                div(class="container")
                    h2(class="subscribe__heading") Получай бесплатные полезные материалы и будь в курсе последних новостей школы музыки Guitardo, подпишись на Дайджест Guitardo в Telegram:
                    div(class="subscribe__title") Вступай в чаты, где мы бесплатно помогаем людям, которые учатся петь и играть самостоятельно:
                    ul(class="subscribe__btn-list")
                        li(class="subscribe__btn-item")
                            button(class="btn subscribe__btn")
                                div(class="btn__text") ЧАТ ВОКАЛИСТОВ
                        li(class="subscribe__btn-item")
                            button(class="btn subscribe__btn")
                                div(class="btn__text") ЧАТ ПИАНИСТОВ
                        li(class="subscribe__btn-item")
                            button(class="btn subscribe__btn")
                                div(class="btn__text") ЧАТ ГИТАРИСТОВ
            include ./blocks/footer




