doctype html
html(lang="en")
    head
        title Преподаватели
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(href="./main.css" type="text/css" rel="stylesheet")
    body
        div(class="wrapper")
            section(class="teachers")
                include ./blocks/header
                div(class="container teachers__container")
                    h1(class="teachers__heading") НАШИ ПРЕПОДАВАТЕЛИ
                    h2(class="teachers__title") Мы постарались предоставить всю необходимую информацию, чтобы тебе было просто найти подходящего преподавателя.
                    form(class="teachers__form")
                        div(class="teachers__select-wrap")
                            div(class="teachers__select")
                                div(class="teachers__select-title") Направление
                                div(class="teachers__select-icon")
                                    img(src="./images/other/select.svg" alt="Select icon")
                            ul(class="teachers__option-list")
                                li(class="teachers__option") Вокал
                                li(class="teachers__option") Фортепиано
                                li(class="teachers__option") Гитара
                        div(class="teachers__select-wrap")
                            div(class="teachers__select")
                                div(class="teachers__select-title") Мужчина/женщина
                                div(class="teachers__select-icon")
                                    img(src="./images/other/select.svg" alt="Select icon")
                            ul(class="teachers__option-list")
                                li(class="teachers__option") Вокал
                                li(class="teachers__option") Фортепиано
                        div(class="teachers__checkbox-wrap")
                            input(class="teachers__checkbox" id="checkbox-1" type="checkbox")
                            label(class="teachers__checkbox-label" for="checkbox-1") Обучает онлайн
                        div(class="teachers__checkbox-wrap")
                            input(class="teachers__checkbox" id="checkbox-2" type="checkbox")
                            label(class="teachers__checkbox-label" for="checkbox-2") Работает с детьми
                    div(class="teachers__card")
                        div(class="teachers__img-wrap")
                            img(src="./images/teachers/fake.jpg" class="teachers__img" alt="Преподаватель")
                        div(class="teachers__card-wrap")
                            div(class="teachers__name") Имя, Фамилия
                            div(class="teachers__characters")
                                p() Направление
                                p() Обучает онлайн
                                p() Работает с детьми
                                p() Занимается музыкой: Х лет
                                p() Стаж преподавания:
                                p() Образование:
                                p() Музыкальные предпочтения:
                                p() Какие программы ведет?
                                p() Особенные музыкальные навыки:
                                p() Подход к преподаванию:
                            div(class="teachers__btn-wrap")
                                button(class="btn teachers__btn" style="background: linear-gradient(89.62deg, #EC2D70 -13.84%, #651FF9 39.95%, #6942B9 87.61%); box-shadow: 5px 10px 20px #713FD3;")
                                    div(class="btn__text") Записаться на занятие
                            div(class="teachers__btn-wrap")
                                button(class="btn teachers__btn" style="background: #C42999; box-shadow: 10px 15px 30px #AC2DD4;")
                                    div(class="btn__text") Смотреть видео-визитку
                                button(class="btn teachers__btn" style="background: #6A42B9; box-shadow: 10px 15px 30px #6A42B9;")
                                    div(class="btn__text") Смотреть исполнение