.header {
  padding-top: rem(70px);
  @include phones {
    padding-top: rem(30px);
  }

  &__container {
    max-width: rem(1130px);
    @include tables {
      max-width: rem(554px);
    }
    @include phones {
      max-width: rem(300px);
    }
  }

  &__up {
    width: 100%;
    margin-bottom: rem(50px);
    @include tables {
      margin-bottom: 1.25rem;
    }
    @include phones {
      margin-bottom: 1.5rem;
    }
  }

  &__down {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__logo-wrap {
    display: flex;
    margin-right: rem(48px);
    @include tables {
      margin: 0;
    }
  }

  &__btn {
    width: rem(256px);
    padding: rem(11px) 0;
    margin-right: rem(32px);
    @include tables {
      margin: 0 0 1rem;
    }
    @include phones{
      width: rem(213px);
      padding: rem(9px) 0;
    }

    &:last-child {
      margin-right: 0;
      @include phones
    }


    & .btn__text {
      font-weight: 800;
      font-size: rem(15px);
      line-height: rem(18px);
      white-space: nowrap;
      @include phones{
        font-size: rem(12.4805px);
        line-height: rem(15px);
      }
    }

    &:nth-child(1) {
      background: white;

      & .btn__text {
        background: linear-gradient(139.27deg, rgba(69, 52, 118, 0.672) 32.09%, rgba(237, 31, 255, 0.7) 86.1%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }

    &:nth-child(2) {
      background: linear-gradient(139.27deg, rgba(69, 52, 118, 0.672) 32.09%, rgba(237, 31, 255, 0.7) 86.1%);

      & .btn__text {
        color: white;
      }
    }

    &-wrap {
      display: flex;
      align-items: center;
      @include tables {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      @include phones{
        justify-content: center;
      }
    }
  }
}

.nav {
  width: 100%;

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include tables {
      justify-content: center;
    }
  }

  &__item {
    margin-bottom: 2rem;
    margin-right: 2rem;
    display: flex;
    @include phones {
      margin-bottom: 2rem;
      margin-right: 1rem;
    }

    &:last-child {
      margin-right: 0rem;
      @include phones {
        margin-right: 1rem;
      }
    }

    &-link {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 300;
      font-size: rem(20px);
      line-height: rem(24px);
      color: #FFFFFF;
      @include tables {
        font-size: rem(18px);
        line-height: rem(22px);
      }
      @include phones {
        font-size: rem(10px);
        line-height: rem(12px);
      }
    }
  }
}